[user]
    name =
    email =
[alias]
    co = commit
    br = branch
    ch = checkout
    s = status -s
    lg = log --oneline --decorate --all --graph
[color]
    status = always
    ui = true
[core]
    editor = /usr/bin/vim
[push]
    default = simple
